openapi: 3.0.3
info:
  title: API de Emissão de NFSe Nacional
  description: 'API exclusiva para emissão e cancelamento de Notas Fiscais de Serviço
    Eletrônicas (NFSe), via Portal Nacional. A autenticação é feita via `x-api-key`
    no header.

    '
  version: 1.0.2
servers:
- url: https://api.emiteplus.com.br/v1
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    Emitente:
      type: object
      required:
      - cpfCnpj
      - razaoSocial
      - email
      - inscricaoMunicipal
      - telefone
      - endereco
      - config
      - certificado
      properties:
        cpfCnpj:
          type: string
        razaoSocial:
          type: string
        nomeFantasia:
          type: string
        email:
          type: string
        inscricaoEstadual:
          type: string
        inscricaoMunicipal:
          type: string
        simplesNacional:
          type: boolean
        incentivadorCultural:
          type: boolean
        incentivoFiscal:
          type: boolean
        regimeTributario:
          type: integer
        regimeTributarioEspecial:
          type: integer
        certificado:
          type: string
          description: ID do certificado digital já cadastrado
        telefone:
          type: object
          required:
          - ddd
          - numero
          properties:
            ddd:
              type: string
            numero:
              type: string
        endereco:
          type: object
          required:
          - logradouro
          - numero
          - bairro
          - codigoCidade
          - estado
          - cep
          properties:
            tipoLogradouro:
              type: string
            logradouro:
              type: string
            numero:
              type: string
            complemento:
              type: string
            bairro:
              type: string
            codigoCidade:
              type: string
            estado:
              type: string
            cep:
              type: string
        config:
          type: object
          required:
          - producao
          - prefeitura
          properties:
            producao:
              type: boolean
            prefeitura:
              type: object
              required:
              - codigoCidade
              properties:
                codigoCidade:
                  type: string
                  example: '5208707'
                login:
                  type: string
                senha:
                  type: string
            rps:
              type: object
              properties:
                lote:
                  type: integer
                numeracao:
                  type: array
                  items:
                    type: object
                    properties:
                      numero:
                        type: integer
                      serie:
                        type: string
    EmissaoNFSe:
      type: object
      required:
      - idIntegracao
      - natureza
      - valorTotal
      - servico
      - tomador
      properties:
        idIntegracao:
          type: string
        natureza:
          type: string
          enum:
          - VENDA
          - PRESTACAO
        valorTotal:
          type: number
        servico:
          type: object
          properties:
            codigoTributacao:
              type: string
            descricao:
              type: string
            aliquota:
              type: number
        tomador:
          type: object
          properties:
            cpfCnpj:
              type: string
            razaoSocial:
              type: string
            email:
              type: string
            endereco:
              type: object
              properties:
                tipoLogradouro:
                  type: string
                logradouro:
                  type: string
                numero:
                  type: string
                bairro:
                  type: string
                codigoCidade:
                  type: string
                estado:
                  type: string
                cep:
                  type: string
    CancelamentoNFSe:
      type: object
      required:
      - idIntegracao
      - justificativa
      properties:
        idIntegracao:
          type: string
        justificativa:
          type: string
security:
- ApiKeyAuth: []
paths:
  /certificado:
    post:
      summary: Cadastrar Certificado Digital
      description: |
        Realiza o cadastro de um certificado digital no formato `.pfx` ou `.p12`, associado ao CNPJ do emitente.

        ⚠️ Esse certificado será utilizado para autenticar as requisições de emissão de notas em prefeituras que exigem assinatura digital.

        ✅ Cenários comuns:
        - Obrigatório para municípios com Web Service próprio
        - Necessário mesmo em cidades que utilizam o Portal Nacional, para autenticação

        📥 Formato:
        - `arquivo`: certificado em base64 (enviado como arquivo binário via multipart/form-data)
        - `senha`: senha de acesso ao certificado
        - `email`: (opcional) usado para notificação de vencimento

        🔐 Após o cadastro, o ID retornado deve ser utilizado no campo `certificado` do emitente.
      operationId: cadastrarCertificado
      tags:
      - Certificado
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - arquivo
              - senha
              properties:
                arquivo:
                  type: string
                  format: binary
                  description: Certificado digital no formato .pfx ou .p12
                senha:
                  type: string
                  description: Senha do certificado digital
                email:
                  type: string
                  format: email
                  description: E-mail para notificações (opcional)
      responses:
        '200':
          description: Certificado cadastrado com sucesso
        '400':
          description: Erro na requisição
        '401':
          description: Token de autenticação inválido ou ausente
      security:
      - ApiKeyAuth: []
  /certificado/{id}:
    get:
      summary: Consultar Certificado Digital
      description: |
        Retorna os dados de um certificado digital previamente cadastrado na API.

        🔍 Use essa rota para:
        - Verificar o status e validade do certificado
        - Confirmar o CNPJ vinculado
        - Validar o ID do certificado para uso no cadastro do emitente

        💡 Essa consulta ajuda a garantir que o certificado correto foi enviado e está ativo, evitando falhas em processos de emissão.
      operationId: consultarCertificado
      tags:
      - Certificado
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: 64f5f10b3943ac2f88ba29e1
      responses:
        '200':
          description: Certificado encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cpfCnpj:
                    type: string
                  validade:
                    type: string
                    format: date
                  email:
                    type: string
        '404':
          description: Certificado não encontrado
      security:
      - ApiKeyAuth: []
    delete:
      summary: Excluir Certificado Digital
      description: |
        Remove um certificado digital previamente cadastrado.

        ⚠️ Esta ação é irreversível. Uma vez removido, o certificado **não poderá mais ser utilizado** para emissão de NFS-e.

        🧾 É necessário garantir que o certificado **não esteja vinculado a nenhum emitente ativo** antes de removê-lo.

        🔐 Essa operação deve ser usada com cautela para manter a integridade do ambiente de produção.
      operationId: excluirCertificado
      tags:
      - Certificado
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: 64f5f10b3943ac2f88ba29e1
      responses:
        '204':
          description: Certificado excluído com sucesso
        '404':
          description: Certificado não encontrado
      security:
      - ApiKeyAuth: []
  /nfse/emitente:
    post:
      summary: Cadastrar Emitente
      description: |
        Cadastra e vincula uma nova empresa (emitente/prestador de serviço) à sua organização para emissão de NFS-e.

        ⚠️ Algumas validações são dinâmicas e obrigatórias conforme o município informado. São exemplos:
        - Inscrição Municipal
        - Certificado Digital (ID de certificado previamente cadastrado)
        - Credenciais de acesso à Prefeitura (login e senha)

        📌 Este cadastro é obrigatório para qualquer ação relacionada à emissão ou consulta de NFS-e.

        💡 Cenários comuns de uso:
        - Desejo emitir uma nota fiscal de serviço
        - Desejo consultar notas fiscais emitidas contra meu CNPJ

        🔎 Consulte a rota `/nfse/cidade/{codigoIBGE}` para verificar os requisitos específicos por município.

        ✉️ Caso o campo `config.email.ativo` esteja definido como `true`, o tomador da nota receberá automaticamente XML + PDF por e-mail, mesmo sem ativar o campo `enviarEmail` no momento da emissão.

        🔧 Disponível também via interface web.
      operationId: cadastrarEmitente
      tags:
      - Emitente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Emitente'
      responses:
        '201':
          description: Emitente cadastrado com sucesso
        '400':
          description: Erro de validação
  /nfse/emitente/{cpfCnpj}:
    get:
      summary: Consultar Emitente
      description: |
        Retorna os dados de configuração do emitente vinculado ao CNPJ informado.

        🔍 Use essa rota para:
        - Verificar se o emitente já está cadastrado na plataforma
        - Recuperar configurações atuais como certificados vinculados, ambiente, RPS e dados da prefeitura
        - Validar se os requisitos para emissão estão completos

        💡 Útil também para verificar dados antes de uma reconfiguração ou emissão em lote.
      operationId: consultarEmitente
      tags:
      - Emitente
      parameters:
      - in: path
        name: cpfCnpj
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dados do emitente
        '404':
          description: Emitente não encontrado
  /nfse/cidade/{codigoIBGE}:
    get:
      summary: Consultar Metadados do Município
      description: |
        Retorna os metadados e requisitos de configuração para emissão de NFS-e no município informado.

        🔍 Use essa rota para:
        - Verificar se a cidade utiliza o Portal Nacional ou WebService próprio
        - Identificar os campos obrigatórios para o cadastro do emitente (ex: certificado, login, inscrição municipal)
        - Validar o código IBGE informado no cadastro

        📘 Essa rota é especialmente útil para automatizar a ativação do emitente, evitando rejeições no momento da emissão.

        🧠 Dica: Utilize essa rota antes de cadastrar ou atualizar o emitente.
      operationId: consultarCidade
      tags:
      - Auxiliares
      parameters:
      - in: path
        name: codigoIBGE
        required: true
        schema:
          type: string
        description: Código IBGE da cidade (7 dígitos)
      responses:
        '200':
          description: Metadados do município
          content:
            application/json:
              schema:
                type: object
                properties:
                  nome:
                    type: string
                  codigoIBGE:
                    type: string
                  exigeCertificado:
                    type: boolean
                  exigeCredencial:
                    type: boolean
                  usaPortalNacional:
                    type: boolean
                  inscricaoMunicipalObrigatoria:
                    type: boolean
        '404':
          description: Município não encontrado
      security:
      - ApiKeyAuth: []
  /nfse/emissao:
    post:
      summary: Emitir NFSe
      description: |
        Realiza a emissão de uma Nota Fiscal de Serviço Eletrônica (NFS-e), com base nas configurações do emitente previamente cadastrado.

        🧾 A nota será processada conforme a cidade do emitente, podendo utilizar:
        - Integração com Web Service próprio da Prefeitura
        - Integração com o Portal Nacional (MEI ou Simples Nacional)

        📦 Campos essenciais:
        - `idIntegracao`: identificador único da nota (controle do cliente)
        - `natureza`: VENDA ou PRESTACAO
        - `servico`: dados da atividade prestada, incluindo tributação e descrição
        - `tomador`: dados do cliente

        ⏱️ A resposta retorna status 202, e o processamento ocorrerá de forma assíncrona.

        Para acompanhar o status da nota, utilize a rota `/nfse/consulta/{idIntegracao}`.
      operationId: emitirNFSe
      tags:
      - NFSe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmissaoNFSe'
      responses:
        '202':
          description: NFSe enviada para processamento
        '400':
          description: Erro na requisição
  /nfse/cancelamento:
    post:
      summary: Cancelar NFSe
      description: |
        Solicita o cancelamento de uma Nota Fiscal de Serviço Eletrônica (NFS-e) emitida anteriormente.

        📌 Para realizar o cancelamento, é necessário:
        - Informar o `idIntegracao` utilizado na emissão
        - Justificar o motivo do cancelamento no campo `justificativa`

        ⚠️ A aprovação ou rejeição do cancelamento depende das regras de cada município.
        Em alguns casos, é necessário que:
        - A nota ainda esteja dentro do prazo de cancelamento
        - A nota não tenha sido transmitida à prefeitura ainda

        ⏱️ O cancelamento também pode ser assíncrono. Para confirmar o resultado, consulte o status da nota via `/nfse/consulta/{idIntegracao}`.
      operationId: cancelarNFSe
      tags:
      - NFSe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelamentoNFSe'
      responses:
        '200':
          description: Cancelamento solicitado
        '404':
          description: NFSe não encontrada
  /nfse/consulta/{idIntegracao}:
    get:
      summary: Consultar Situação da NFSe
      description: |
        Consulta o status atual de uma NFS-e emitida ou em processamento, utilizando o `idIntegracao` informado no momento da emissão.

        🔍 Possíveis retornos:
        - Nota autorizada e disponível com links para XML e PDF
        - Nota em processamento
        - Nota rejeitada ou com erro na transmissão

        💡 Essa rota deve ser utilizada para:
        - Confirmar a autorização da nota
        - Obter links de documentos gerados
        - Acompanhar solicitações de cancelamento

        ⚠️ Notas emitidas de forma assíncrona devem obrigatoriamente ser acompanhadas por essa rota para saber se foram concluídas com sucesso.
      operationId: consultarSituacaoNFSe
      tags:
      - NFSe
      parameters:
      - in: path
        name: idIntegracao
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Status atual da NFSe
        '404':
          description: NFSe não encontrada
tags:
- name: Certificado
  description: Gestão de certificados digitais
- name: Emitente
  description: Cadastro e configuração de empresas emissoras
- name: Auxiliares
  description: Rotas de apoio e metadados dos municípios
- name: NFSe
  description: Operações de emissão, cancelamento e consulta de NFSe
